.jumbotron{
	text-align: center;
}

strong{
	font-size: 16px;
}

.panel-body-green{
	color: green;
	padding-left: 16px;
}

.badge.pull-right.size{
	height: 25px;
	width: 20px;
	font-size: 18px;
}

.price.pull-right{
	font-size: 20px;
}

.price.pull-right.size{
	padding-right: 12px;
}